/ {
    keymap {
        compatible = "zmk,keymap";

        /─────────────────────────────────────────────────────────────────────────\
        |                                 BASE LAYER                              |
        \─────────────────────────────────────────────────────────────────────────/
        base_layer {
            label = "BASE";
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
                         │    Q    │    W    │    F    │    P    │    G    │                    │    J    │    L    │    U    │    Y    │    ;    │
               ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
               │   TAB   │    A    │    R    │    S    │    T    │    D    │                    │    H    │    N    │    E    │    I    │    O    │    '    │
               ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
               │   DEL   │    Z    │    X    │    C    │    V    │    B    ││        ││        ││    K    │    M    │    ,    │    .    │    /    │    \    │
               └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                         │  CTRL   │  LOWER  │  SPACE  │   ALT   ││   GUI   │  ENTER  │  RAISE  │ BACKSPACE│
                                         └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */
            bindings = <
                &kp Q     &kp W       &kp F        &kp P        &kp G        &kp J         &kp L     &kp U     &kp Y     &kp SEMI
                &kp TAB   &kp A       &kp R        &kp S        &hm LSHFT T  &kp D         &kp H     &hm RSHFT N&kp E     &kp I     &kp O     &kp SQT
                &kp DEL   &kp Z       &kp X        &kp C        &kp V        &kp B         &kp K     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp BSLH
                          &kp LCTRL  &mo LOWER   &kp SPACE    &kp LALT     &kp LGUI      &kp RET   &mo RAISE &kp BSPC
            >;
        };

        /─────────────────────────────────────────────────────────────────────────\
        |                               LOWER LAYER                              |
        |                  (hold LOWER to get these functions)                  |
        \─────────────────────────────────────────────────────────────────────────/
        lower_layer {
            label = "LOWER";
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
                         │  HOME   │   UP    │   END   │         │         │                    │         │         │         │         │         │
               ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
               │         │  LEFT   │  DOWN   │  RIGHT  │         │         │                    │         │         │         │         │         │         │
               ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
               │         │  PGUP   │  PGDN   │   INS   │         │         ││        ││        ││         │         │         │         │         │         │
               └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                         │  CTRL   │  LOWER  │  SPACE  │   ALT   ││   GUI   │  ENTER  │  RAISE  │ BACKSPACE│
                                         └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */
            bindings = <
                &trans     &kp HOME    &kp UP      &kp END     &trans     &trans      &trans     &trans     &trans     &trans     &trans
                &trans     &kp LEFT    &kp DOWN    &kp RIGHT   &trans     &trans      &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &kp PGUP    &kp PGDN    &kp INS     &trans     &trans      &trans     &trans     &trans     &trans     &trans     &trans
                           &kp LCTRL   &mo LOWER   &kp SPACE   &kp LALT    &kp LGUI    &kp RET    &mo RAISE  &kp BSPC
            >;
        };

        /─────────────────────────────────────────────────────────────────────────\
        |                               RAISE LAYER                              |
        |                  (hold RAISE to get Numpad)                           |
        \─────────────────────────────────────────────────────────────────────────/
        raise_layer {
            label = "RAISE";
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
                         │         │    7    │    8    │    9    │         │                    │         │         │         │         │         │
               ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
               │         │    4    │    5    │    6    │         │         │                    │         │         │         │         │         │         │
               ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
               │         │    1    │    2    │    3    │         │         ││        ││        ││         │    0    │         │         │         │         │
               └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                         │  CTRL   │  LOWER  │  SPACE  │   ALT   ││   GUI   │  ENTER  │  RAISE  │ BACKSPACE│
                                         └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */
            bindings = <
                &trans     &kp KP_N7    &kp KP_N8    &kp KP_N9    &trans     &trans      &trans     &trans     &trans     &trans     &trans
                &trans     &kp KP_N4    &kp KP_N5    &kp KP_N6    &trans     &trans      &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &kp KP_N1    &kp KP_N2    &kp KP_N3    &trans     &trans      &trans     &trans     &trans     &kp KP_N0    &trans     &trans
                           &kp LCTRL   &mo LOWER   &kp SPACE   &kp LALT    &kp LGUI    &kp RET    &mo RAISE  &kp BSPC
            >;
        };

        /─────────────────────────────────────────────────────────────────────────\
        |                              ADJUST LAYER                             |
        |             (hold LOWER+RAISE to get Symbols & Brackets)             |
        \─────────────────────────────────────────────────────────────────────────/
        adjust_layer {
            label = "ADJUST";
            /*           ┌─────────┬─────────┬─────────┬─────────┬─────────┐                    ┌─────────┬─────────┬─────────┬─────────┬─────────┐
                         │  `/~    │    [    │    (    │    ,    │    -    │                    │    _    │         │         │         │         │
               ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐
               │   !     │    @    │    #    │    $    │    %    │    ^    │                    │    &    │    *    │    )    │    [    │    ]    │    \    │
               ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤╭────────╮╭────────╮├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
               │   -     │    _    │    +    │    =    │    {    │    }    ││        ││        ││         │         │         │         │         │         │
               └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼╰────────╯╰────────╯┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
                                         │  CTRL   │  LOWER  │  SPACE  │   ALT   ││   GUI   │  ENTER  │  RAISE  │ BACKSPACE│
                                         └─────────┴─────────┴─────────┴─────────┘└─────────┴─────────┴─────────┴─────────┘ */
            bindings = <
                &kp GRV     &kp LBKT   &kp LPRN   &kp COMMA  &kp MINS   &kp UNDS   &kp BSLS   &kp PIPE   &kp TILD   &trans     &trans
                &kp EXLM    &kp AT     &kp HASH   &kp DLR    &kp PERC   &kp CIRC   &kp AMPR   &kp ASTR   &kp RPRN   &kp LBKT   &kp RBKT   &trans
                &kp MINS    &kp UNDS   &kp PLUS   &kp EQL    &kp LCBR   &kp RCBR   &trans     &trans     &trans     &trans     &trans     &trans
                            &kp LCTRL  &mo LOWER  &kp SPACE  &kp LALT   &kp LGUI   &kp RET    &mo RAISE  &kp BSPC
            >;
        };
    };
};
